@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  --color-agri-green: #059669;
  /* emerald-500 */
  --color-agri-dark: #064E3B;
  /* emerald-900 */
}

@layer base {
  body {
    @apply font-sans antialiased text-stone-900 bg-stone-50 selection:bg-agri-green/20 selection:text-agri-dark;
  }

  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-stone-300 rounded-full hover:bg-agri-green transition-colors;
  }
}